{% extends "base.html" %} {% block content %}
<div class="detail">
    <div class="detailHeader">
        <h1>{{ post.Title }}</h1>
    </div>
    <div class="detailContents">
        <div class="detailInfo">
            <p>{{ post.Writer }}</p>
            <p>{{ post.Created_date }}</p>
        </div>
        <div class="detailContent">
            <p>{{ post.Contents }}</p>
        </div>
    </div>

    <!-- comment -->
    <ul>
        {% for comment in post.comments.all %}
        <li>
            {{ comment.author }}<br />{{ comment.content }}<br />{{comment.created_at}}
            <a href="{% url 'delete_comment' post.pk comment.pk %}">삭제하기</a>
        </li>
        {% endfor %}
    </ul>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">댓글달기</button>
    </form>
    <!-- comment -->

    <div class="detailFooter">
        <a href="{% url 'home' %}">목록으로 돌아가기</a>
        <a href="{% url 'edit' post.pk %}">수정하기</a>
        <a href="{% url 'delete' post.pk %}">삭제하기</a>
    </div>
</div>
{% endblock %}